The following libraries are necessary for the Python programme to interact with LTSpice:

-> numpy
-> ltspice

You can use the pip command in your terminal or command prompt to install these libraries:
-> numpy: 
	pip install numpy

-> ltspice: 
	pip install git+https://github.com/mgcarey/ltspice.git
